.container {
  min-height: 100vh; /* height of the browser viewport */
  min-width: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-input {
  width: 4rem;
}

.letter {
  /* display: block; */
  margin: 2em auto;
  border: none;
  padding: 0;
  /* width: ch; */
  background: repeating-linear-gradient(
      90deg,
      dimgrey 0,
      dimgrey 1ch,
      transparent 0,
      transparent 1.5ch
    )
    0 100%/ 10ch 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

.letter-input {
  border: none;
  padding: 0;
  width: 1ch;
  background: repeating-linear-gradient(
      90deg,
      dimgrey 0,
      dimgrey 1ch,
      transparent 0,
      transparent 1.5ch
    )
    0 100%/ 10ch 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
}

.correct {
  color: darkgreen;
}

.incorrect {
  color: salmon;
}

.horizontal {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 80%;
}

.section {
  margin: 1rem;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
